* {
  margin: 0;
  padding: 0;
  font-family: 'genshin-font', sans-serif;
  font-size: 16px;
}

body {
  height: calc(100vh - 56px - 56px);
  background-color: #f8f3ea;
}

button {
  outline: none !important;
}

.card {
  min-width: 200px;
}

.weap-img {
  height: 220px;
  overflow: hidden;
}
